.btn-on {
    background-color: green;
    color: white;
  }
  
.btn-off {
  background-color: red;
  color: white;
}

.btn-etat {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
}

.room {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}
  