<div class="container d-flex">
  <!-- Partie gauche avec 6 boutons -->
  <div class="col-6">
    <div class="row">
      <div class="col">
        <button [ngClass]="salleDeBainButtonClass">Salle de bain</button>
        <span>Texte à côté du bouton 1</span>
        <button type="button" class="btn btn-secondary">Forçage</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button [ngClass]="buanderieButtonClass">Salle de bain</button>
        <span>Texte à côté du bouton 1</span>
        <button type="button" class="btn btn-secondary">Forçage</button>
      </div>
    </div>
  </div>
  <!-- Partie droite avec horloge et bouton -->
  <div class="col-6">
    <div class="row">
      <div class="col">
        <h2>Horloge</h2>
        <p>{{ currentDateTime | date:'mediumTime' }}</p>
        <button class="btn btn-primary" (click)="add30Minutes()">Ajouter 30 minutes</button>
      </div>
    </div>
  </div>
</div>
