<div class="container d-flex justify-content-between">
  <div class="col-6" style="margin-top: 10px;">
    <div class="d-flex align-items-center justify-content-between" *ngFor="let room of roomStates | keyvalue">
      <button class="btn-etat" [ngClass]="room.value.state ? 'btn-on' : 'btn-off'"></button>
      <span class="room">{{ room.value.name }}</span>
      <button type="button" class="btn btn-secondary" (click)="forced(room.key)">Forcer</button>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col">
        <h2>Horloge</h2>
        <p>{{ currentDateTime | date:'mediumTime' }}</p>
        <button class="btn btn-primary" (click)="add30Minutes()">Ajouter 30 minutes</button>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="col-12">
    <h2>Journal des événements</h2>
    <ul>
      <li *ngFor="let event of eventLog | slice:-10">
        {{ event.time }} - {{ event.room }} - {{ event.state }}
      </li>
    </ul>
  </div>
</div>
